/* li:hover {
  cursor: pointer;
}

 */

.App {
  text-align: center;
  padding: 50px;
  background-color: rgba(139, 240, 6, 0.198);
}

input {
  border: none;
  padding: 10px;
  width: 450px;
}
input:focus {
  outline: 1px solid rgb(247, 0, 255);
}

button {
  border: none;
  background-color: rgb(20, 109, 226);
  color: white;
  padding: 10px 20px;
  margin-left: 5px;
  border-radius: 3px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo > button {
  margin-left: 20px;
}
